// 
// Colors
// 

// Override Bootstrap color systel colors

$blue: #2937f0;
$purple: #9f1ae2;

// Override Bootstrap default state colors

$primary: #66BB6A;
//$secondary: #8ebf90;
$secondary: #66BB6A;
